# Ye file copy karke naam ".env.local" rakhein, aur Vercel Project Settings
# -> Environment Variables mein bhi yehi values add karein.

NEXT_PUBLIC_SUPABASE_URL=https://stvlrmesrtqhkdblvmed.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_A7W3xNWloshPrwlvLJgc9g_qQf91W20
